<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= RESTAURANT.name%></title>
  </head>
  <body>
    <h1>Home Page</h1>
    <%- include('./partials/nav') %> <% if(RESTAURANT.isOpen) { %>
    <p>Welcome to the <%= RESTAURANT.name%></p>
    <p>We are located at <%= RESTAURANT.address%></p>
    <p><a>Contact us! <%= RESTAURANT.phone%></a></p>
    <% } else { %>
    <p>Sorry, we are closed.</p>
    <% } %>
  </body>
</html>
